{% extends 'base-connected.html.twig' %}

{% block title %}Account {{ account.name }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form) }}
        <button class="btn btn-primary">
            Save
        </button>
    {{ form_end(form) }}
{% endblock %}
