{% block bank_payment_distribution_widget %}
    <div class="d-flex flex-row align-items-center">
        <div class="mx-2 text-left" style="min-width: 80px;">
            {{ form_widget(form.type) }}
            {{ form_widget(form.payers) }}
        </div>
    </div>
{% endblock %}

{% block payer_list_widget %}
    {% if value is not null %}
        {% for email in value %}
            <input type="text" name="{{ full_name }}[]" value="{{ email }}" />
        {% endfor %}
    {% endif %}
{% endblock %}
