<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid justify-content-end">
        <small class="navbar-text">
            0.0.1-dev
        </small>
    </div>
</nav>
