<div class="nav-dark bg-dark">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('dashboard') }}" aria-current="page">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Accounts
            </a>
        </li>
    </ul>

</div>
