<div class="card">
    <div class="card-body">
        <div class="card-subtitle mb-2 text-muted">{{ account.name }}</div>
        <div class="card-title fs-4">{{ account.balance }}</div>
        <div class="d-flex justify-content-between fs-6">
            <div class="text-success">{{ account.income }}</div>
            <div class="text-danger">{{ account.expense }}</div>
        </div>
    </div>
</div>
