<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-controller="modal">
        <div class="d-flex flex-column h-100">
            {% include '@component/topbar.html.twig' %}
            <div class="d-flex flex-row flex-grow-1">
                {% include '@component/sidebar.html.twig' %}
                <div class="flex-grow-1">
                    <div class="container-fluid py-2">
                        {% include '@component/flash.html.twig' %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="main-modal" class="modal" data-modal-target="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <a class="text-reset" aria-label="Close" data-action="click->modal#close" href="#">
                            <i class="fs-4 fe fe-close" title="Manage charges"></i>
                        </a>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
