{% extends 'base-connected.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div data-controller="dashboard">
        {% include "@component/monthpicker.html.twig" with { date } only %}
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" data-controller="user-account">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-muted">My account</div>
                        <div class="card-title fs-4">-</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
