{% extends 'base-disconnected.html.twig' %}

{% block title %}Moneyer{% endblock %}

{% block body %}
    <div class="container fs-2">
        <div class="row">
            <div class="col"><i class="fe fe-activity"></i></div>
            <div class="col"><i class="fe fe-add-cart"></i></div>
            <div class="col"><i class="fe fe-align-bottom"></i></div>
            <div class="col"><i class="fe fe-align-center"></i></div>
            <div class="col"><i class="fe fe-align-left"></i></div>
            <div class="col"><i class="fe fe-align-right"></i></div>
            <div class="col"><i class="fe fe-align-top"></i></div>
            <div class="col"><i class="fe fe-align-vertically"></i></div>
            <div class="col"><i class="fe fe-angry"></i></div>
            <div class="col"><i class="fe fe-app-menu"></i></div>
            <div class="col"><i class="fe fe-apron"></i></div>
            <div class="col"><i class="fe fe-arrow-down"></i></div>
            <div class="col"><i class="fe fe-arrow-left"></i></div>
            <div class="col"><i class="fe fe-arrow-right"></i></div>
            <div class="col"><i class="fe fe-arrow-up"></i></div>
            <div class="col"><i class="fe fe-artboard"></i></div>
            <div class="col"><i class="fe fe-audio-player"></i></div>
            <div class="col"><i class="fe fe-backward"></i></div>
            <div class="col"><i class="fe fe-bar"></i></div>
            <div class="col"><i class="fe fe-bar-chart"></i></div>
            <div class="col"><i class="fe fe-beer"></i></div>
            <div class="col"><i class="fe fe-beginner"></i></div>
            <div class="col"><i class="fe fe-bell"></i></div>
            <div class="col"><i class="fe fe-birthday-cake"></i></div>
            <div class="col"><i class="fe fe-bold"></i></div>
            <div class="col"><i class="fe fe-bolt"></i></div>
            <div class="col"><i class="fe fe-book"></i></div>
            <div class="col"><i class="fe fe-bookmark"></i></div>
            <div class="col"><i class="fe fe-bread"></i></div>
            <div class="col"><i class="fe fe-browser"></i></div>
            <div class="col"><i class="fe fe-brush"></i></div>
            <div class="col"><i class="fe fe-bug"></i></div>
            <div class="col"><i class="fe fe-building"></i></div>
            <div class="col"><i class="fe fe-bus"></i></div>
            <div class="col"><i class="fe fe-cage"></i></div>
            <div class="col"><i class="fe fe-calendar"></i></div>
            <div class="col"><i class="fe fe-camera"></i></div>
            <div class="col"><i class="fe fe-car"></i></div>
            <div class="col"><i class="fe fe-cart"></i></div>
            <div class="col"><i class="fe fe-check"></i></div>
            <div class="col"><i class="fe fe-check-circle"></i></div>
            <div class="col"><i class="fe fe-check-circle-o"></i></div>
            <div class="col"><i class="fe fe-check-verified"></i></div>
            <div class="col"><i class="fe fe-clock"></i></div>
            <div class="col"><i class="fe fe-close"></i></div>
            <div class="col"><i class="fe fe-cloud"></i></div>
            <div class="col"><i class="fe fe-cocktail"></i></div>
            <div class="col"><i class="fe fe-code"></i></div>
            <div class="col"><i class="fe fe-codepen"></i></div>
            <div class="col"><i class="fe fe-coffee"></i></div>
            <div class="col"><i class="fe fe-columns"></i></div>
            <div class="col"><i class="fe fe-comment"></i></div>
            <div class="col"><i class="fe fe-comment-o"></i></div>
            <div class="col"><i class="fe fe-commenting"></i></div>
            <div class="col"><i class="fe fe-comments"></i></div>
            <div class="col"><i class="fe fe-compress"></i></div>
            <div class="col"><i class="fe fe-credit-card"></i></div>
            <div class="col"><i class="fe fe-crop"></i></div>
            <div class="col"><i class="fe fe-cry"></i></div>
            <div class="col"><i class="fe fe-cutlery"></i></div>
            <div class="col"><i class="fe fe-delete-link"></i></div>
            <div class="col"><i class="fe fe-desktop"></i></div>
            <div class="col"><i class="fe fe-diamond"></i></div>
            <div class="col"><i class="fe fe-difference"></i></div>
            <div class="col"><i class="fe fe-disabled"></i></div>
            <div class="col"><i class="fe fe-disappointed"></i></div>
            <div class="col"><i class="fe fe-distribute-horizontally"></i></div>
            <div class="col"><i class="fe fe-distribute-vertically"></i></div>
            <div class="col"><i class="fe fe-document"></i></div>
            <div class="col"><i class="fe fe-donut"></i></div>
            <div class="col"><i class="fe fe-download"></i></div>
            <div class="col"><i class="fe fe-drop-down"></i></div>
            <div class="col"><i class="fe fe-drop-left"></i></div>
            <div class="col"><i class="fe fe-drop-right"></i></div>
            <div class="col"><i class="fe fe-drop-up"></i></div>
            <div class="col"><i class="fe fe-edit"></i></div>
            <div class="col"><i class="fe fe-eject"></i></div>
            <div class="col"><i class="fe fe-elipsis-h"></i></div>
            <div class="col"><i class="fe fe-elipsis-v"></i></div>
            <div class="col"><i class="fe fe-equalizer"></i></div>
            <div class="col"><i class="fe fe-eraser"></i></div>
            <div class="col"><i class="fe fe-expand"></i></div>
            <div class="col"><i class="fe fe-export"></i></div>
            <div class="col"><i class="fe fe-eye"></i></div>
            <div class="col"><i class="fe fe-facebook"></i></div>
            <div class="col"><i class="fe fe-fast-backward"></i></div>
            <div class="col"><i class="fe fe-fast-forward"></i></div>
            <div class="col"><i class="fe fe-feather"></i></div>
            <div class="col"><i class="fe fe-feed"></i></div>
            <div class="col"><i class="fe fe-file"></i></div>
            <div class="col"><i class="fe fe-file-audio"></i></div>
            <div class="col"><i class="fe fe-file-excel"></i></div>
            <div class="col"><i class="fe fe-file-image"></i></div>
            <div class="col"><i class="fe fe-file-movie"></i></div>
            <div class="col"><i class="fe fe-file-powerpoint"></i></div>
            <div class="col"><i class="fe fe-file-word"></i></div>
            <div class="col"><i class="fe fe-file-zip"></i></div>
            <div class="col"><i class="fe fe-filter"></i></div>
            <div class="col"><i class="fe fe-flag"></i></div>
            <div class="col"><i class="fe fe-folder"></i></div>
            <div class="col"><i class="fe fe-folder-open"></i></div>
            <div class="col"><i class="fe fe-fork"></i></div>
            <div class="col"><i class="fe fe-forward"></i></div>
            <div class="col"><i class="fe fe-frowing"></i></div>
            <div class="col"><i class="fe fe-frying-pan"></i></div>
            <div class="col"><i class="fe fe-gamepad"></i></div>
            <div class="col"><i class="fe fe-gear"></i></div>
            <div class="col"><i class="fe fe-gift"></i></div>
            <div class="col"><i class="fe fe-git"></i></div>
            <div class="col"><i class="fe fe-github"></i></div>
            <div class="col"><i class="fe fe-github-alt"></i></div>
            <div class="col"><i class="fe fe-globe"></i></div>
            <div class="col"><i class="fe fe-google"></i></div>
            <div class="col"><i class="fe fe-google-plus"></i></div>
            <div class="col"><i class="fe fe-hash"></i></div>
            <div class="col"><i class="fe fe-headphone"></i></div>
            <div class="col"><i class="fe fe-heart"></i></div>
            <div class="col"><i class="fe fe-heart-o"></i></div>
            <div class="col"><i class="fe fe-home"></i></div>
            <div class="col"><i class="fe fe-import"></i></div>
            <div class="col"><i class="fe fe-info"></i></div>
            <div class="col"><i class="fe fe-insert-link"></i></div>
            <div class="col"><i class="fe fe-instagram"></i></div>
            <div class="col"><i class="fe fe-intersect"></i></div>
            <div class="col"><i class="fe fe-italic"></i></div>
            <div class="col"><i class="fe fe-key"></i></div>
            <div class="col"><i class="fe fe-keyboard"></i></div>
            <div class="col"><i class="fe fe-kitchen-cooker"></i></div>
            <div class="col"><i class="fe fe-laptop"></i></div>
            <div class="col"><i class="fe fe-layer"></i></div>
            <div class="col"><i class="fe fe-layout"></i></div>
            <div class="col"><i class="fe fe-line-chart"></i></div>
            <div class="col"><i class="fe fe-link"></i></div>
            <div class="col"><i class="fe fe-link-external"></i></div>
            <div class="col"><i class="fe fe-list-bullet"></i></div>
            <div class="col"><i class="fe fe-list-order"></i></div>
            <div class="col"><i class="fe fe-list-task"></i></div>
            <div class="col"><i class="fe fe-location"></i></div>
            <div class="col"><i class="fe fe-lock"></i></div>
            <div class="col"><i class="fe fe-login"></i></div>
            <div class="col"><i class="fe fe-logout"></i></div>
            <div class="col"><i class="fe fe-loop"></i></div>
            <div class="col"><i class="fe fe-magic"></i></div>
            <div class="col"><i class="fe fe-mail"></i></div>
            <div class="col"><i class="fe fe-map"></i></div>
            <div class="col"><i class="fe fe-mask"></i></div>
            <div class="col"><i class="fe fe-medal"></i></div>
            <div class="col"><i class="fe fe-megaphone"></i></div>
            <div class="col"><i class="fe fe-mention"></i></div>
            <div class="col"><i class="fe fe-messanger"></i></div>
            <div class="col"><i class="fe fe-minus"></i></div>
            <div class="col"><i class="fe fe-mitarashi-dango"></i></div>
            <div class="col"><i class="fe fe-mobile"></i></div>
            <div class="col"><i class="fe fe-money"></i></div>
            <div class="col"><i class="fe fe-moon"></i></div>
            <div class="col"><i class="fe fe-mouse"></i></div>
            <div class="col"><i class="fe fe-music"></i></div>
            <div class="col"><i class="fe fe-notice-active"></i></div>
            <div class="col"><i class="fe fe-notice-off"></i></div>
            <div class="col"><i class="fe fe-notice-on"></i></div>
            <div class="col"><i class="fe fe-notice-push"></i></div>
            <div class="col"><i class="fe fe-octpus"></i></div>
            <div class="col"><i class="fe fe-open-mouth"></i></div>
            <div class="col"><i class="fe fe-palette"></i></div>
            <div class="col"><i class="fe fe-paper-plane"></i></div>
            <div class="col"><i class="fe fe-pause"></i></div>
            <div class="col"><i class="fe fe-pencil"></i></div>
            <div class="col"><i class="fe fe-phone"></i></div>
            <div class="col"><i class="fe fe-picture"></i></div>
            <div class="col"><i class="fe fe-picture-square"></i></div>
            <div class="col"><i class="fe fe-pie-chart"></i></div>
            <div class="col"><i class="fe fe-pinterest"></i></div>
            <div class="col"><i class="fe fe-pizza"></i></div>
            <div class="col"><i class="fe fe-play"></i></div>
            <div class="col"><i class="fe fe-plug"></i></div>
            <div class="col"><i class="fe fe-plus"></i></div>
            <div class="col"><i class="fe fe-pocket"></i></div>
            <div class="col"><i class="fe fe-pot"></i></div>
            <div class="col"><i class="fe fe-print"></i></div>
            <div class="col"><i class="fe fe-prototype"></i></div>
            <div class="col"><i class="fe fe-question"></i></div>
            <div class="col"><i class="fe fe-quote-left"></i></div>
            <div class="col"><i class="fe fe-quote-right"></i></div>
            <div class="col"><i class="fe fe-rage"></i></div>
            <div class="col"><i class="fe fe-random"></i></div>
            <div class="col"><i class="fe fe-remove-cart"></i></div>
            <div class="col"><i class="fe fe-rice-cracker"></i></div>
            <div class="col"><i class="fe fe-rocket"></i></div>
            <div class="col"><i class="fe fe-scale"></i></div>
            <div class="col"><i class="fe fe-search"></i></div>
            <div class="col"><i class="fe fe-search-minus"></i></div>
            <div class="col"><i class="fe fe-search-plus"></i></div>
            <div class="col"><i class="fe fe-share"></i></div>
            <div class="col"><i class="fe fe-shield"></i></div>
            <div class="col"><i class="fe fe-shopping-bag"></i></div>
            <div class="col"><i class="fe fe-sitemap"></i></div>
            <div class="col"><i class="fe fe-smile"></i></div>
            <div class="col"><i class="fe fe-smile-alt"></i></div>
            <div class="col"><i class="fe fe-smile-heart"></i></div>
            <div class="col"><i class="fe fe-smile-plus"></i></div>
            <div class="col"><i class="fe fe-speaker"></i></div>
            <div class="col"><i class="fe fe-squid"></i></div>
            <div class="col"><i class="fe fe-star"></i></div>
            <div class="col"><i class="fe fe-star-o"></i></div>
            <div class="col"><i class="fe fe-step-backward"></i></div>
            <div class="col"><i class="fe fe-step-forward"></i></div>
            <div class="col"><i class="fe fe-stop"></i></div>
            <div class="col"><i class="fe fe-subtract"></i></div>
            <div class="col"><i class="fe fe-sunny-o"></i></div>
            <div class="col"><i class="fe fe-sunrise"></i></div>
            <div class="col"><i class="fe fe-sync"></i></div>
            <div class="col"><i class="fe fe-table"></i></div>
            <div class="col"><i class="fe fe-tablet"></i></div>
            <div class="col"><i class="fe fe-tag"></i></div>
            <div class="col"><i class="fe fe-target"></i></div>
            <div class="col"><i class="fe fe-taxi"></i></div>
            <div class="col"><i class="fe fe-terminal"></i></div>
            <div class="col"><i class="fe fe-text-align-center"></i></div>
            <div class="col"><i class="fe fe-text-align-justify"></i></div>
            <div class="col"><i class="fe fe-text-align-left"></i></div>
            <div class="col"><i class="fe fe-text-align-right"></i></div>
            <div class="col"><i class="fe fe-text-size"></i></div>
            <div class="col"><i class="fe fe-ticket"></i></div>
            <div class="col"><i class="fe fe-tiled"></i></div>
            <div class="col"><i class="fe fe-timeline"></i></div>
            <div class="col"><i class="fe fe-tired"></i></div>
            <div class="col"><i class="fe fe-train"></i></div>
            <div class="col"><i class="fe fe-trash"></i></div>
            <div class="col"><i class="fe fe-trophy"></i></div>
            <div class="col"><i class="fe fe-truck"></i></div>
            <div class="col"><i class="fe fe-tumbler-glass"></i></div>
            <div class="col"><i class="fe fe-twitter"></i></div>
            <div class="col"><i class="fe fe-umbrella"></i></div>
            <div class="col"><i class="fe fe-underline"></i></div>
            <div class="col"><i class="fe fe-union"></i></div>
            <div class="col"><i class="fe fe-unlock"></i></div>
            <div class="col"><i class="fe fe-upload"></i></div>
            <div class="col"><i class="fe fe-usb"></i></div>
            <div class="col"><i class="fe fe-user"></i></div>
            <div class="col"><i class="fe fe-user-minus"></i></div>
            <div class="col"><i class="fe fe-user-plus"></i></div>
            <div class="col"><i class="fe fe-users"></i></div>
            <div class="col"><i class="fe fe-vector"></i></div>
            <div class="col"><i class="fe fe-video"></i></div>
            <div class="col"><i class="fe fe-vr"></i></div>
            <div class="col"><i class="fe fe-wallet"></i></div>
            <div class="col"><i class="fe fe-warning"></i></div>
            <div class="col"><i class="fe fe-watch"></i></div>
            <div class="col"><i class="fe fe-watch-alt"></i></div>
            <div class="col"><i class="fe fe-wine-glass"></i></div>
            <div class="col"><i class="fe fe-wordpress"></i></div>
            <div class="col"><i class="fe fe-wordpress-alt"></i></div>
            <div class="col"><i class="fe fe-wrench"></i></div>
            <div class="col"><i class="fe fe-yaki-dango"></i></div>
            <div class="col"><i class="fe fe-youtube"></i></div>
        </div>
    </div>
{% endblock %}
